/**
 * @description 海洋之心主题
 */
 .theme-ocean {
  @base-cloer: #0bf876;
  .layout-container-vertical .trigger:hover {
    color: @base-cloer !important;
  }

  .ant-layout-header {
    background-color: #fff;
    padding: 0px;
  }
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .trigger:hover {
    color: red;
  }
  .side-bar {
    position: absolute;left: 0;top: 0;
    height: 100vh;
    background: #f5f7f9 url(../../../assets/admin_menu_bg.jpg) center center no-repeat !important;
    background-size: cover !important;
  }
  .ant-layout-sider {
    background: transparent;
    .ant-menu {
      background-color: rgba(255, 255, 255, 0.66) !important;
    }
  }

 }