/**
 * @description 海洋之心主题
 */

.theme-ocean {
  $base-menu-background: #1890ff;
  $base-menu-background-active: #399efd;
  $base-color-blue: #1890ff;

  @mixin container {
    background: linear-gradient(to right, #006cff, #399efd) !important;
  }

  @mixin active {
    &:hover {
      color: $base-color-white;
      background-color: $base-menu-background-active !important;
    }

    &.is-active {
      color: $base-color-white;
      background-color: $base-menu-background-active !important;
    }
  }

  .logo-container-horizontal {
    background: $base-color-blue !important;
  }

  .logo-container-vertical,
  .logo-container-comprehensive {
    @include container;
  }

  .logo-container-gallery {
    .logo {
      @include container;
    }
  }

  .gallery-bar-container.a-scrollbar {
    .a-tabs {
      .a-tabs__nav {
        @include container;
      }

      .a-tabs__item.is-active,
      .a-tabs__item:hover {
        background: $base-menu-background-active !important;
      }
    }

    .a-menu {
      .a-menu-item.is-active,
      .a-submenu__title.is-active,
      .a-menu-item:hover,
      .a-submenu__title:hover {
        i {
          color: $base-menu-background !important;
        }

        color: $base-menu-background !important;
        background-color: rgba($base-color-blue, 0.1) !important;
      }
    }
  }

  .layout-container-horizontal {
    .top-bar-container {
      background: $base-color-blue !important;
    }

    .a-menu {
      background: $base-color-blue !important;

      .a-submenu__title {
        background: $base-color-blue !important;
      }

      .a-menu-item {
        background: $base-color-blue !important;
      }
    }

    .side-bar-container,
    .comprehensive-bar-container {
      background: $base-color-blue !important;

      .a-menu-item {
        @include active;
      }
    }
  }

  .layout-container-vertical,
  .layout-container-comprehensive,
  .layout-container-common {
    .side-bar-container,
    .comprehensive-bar-container {
      @include container;

      .a-menu {
        @include container;

        .a-submenu__title,
        .a-menu-item {
          background-color: transparent !important;

          &.is-active {
            background-color: $base-menu-background-active !important;
          }
        }
      }
    }
  }

  .top-bar-container {
    @include container;

    .apa-main {
      .a-menu.a-menu {
        &--horizontal {
          .a-submenu,
          .a-menu-item {
            &.is-active {
              background-color: $base-menu-background-active !important;
            }
          }

          > .a-menu-item {
            &.is-active {
              background-color: transparent !important;
              border-bottom: 3px solid $base-color-white !important;
            }
          }
        }
      }
    }
  }

  .tabs-bar-container {
    background: $base-color-white;
    border-top: 1px solid #f6f6f6;

    .tabs-content {
      .a-tabs__header {
        .a-tabs__item {
          &.is-active {
            background: $base-color-blue !important;
            border: 1px solid $base-color-blue !important;

            &:hover {
              color: $base-color-white !important;
            }
          }

          &:hover {
            color: $base-color-blue !important;
          }
        }
      }
    }
  }

  .nav-bar-container {
    .a-tabs__item.is-active,
    .a-tabs__item:hover {
      color: $base-color-blue !important;
    }

    .a-tabs__active-bar {
      background-color: $base-color-blue !important;
    }
  }

  .theme-setting {
    background: $base-color-blue !important;
  }
}
