/**
 * @description 全局样式
 */

@import './normalize.scss';
@import './transition.scss';
@import './loading.scss';
@import './themes/glory.scss';
@import './themes/green.scss';
@import './themes/ocean.scss';
@import './themes/white.scss';

$base: '.apa';

@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.3);
    border: 3px solid transparent;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, 0.5);
  }
}

html {
  body {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'PingFang SC', Arial, 'Microsoft YaHei', sans-serif;
    font-size: $base-font-size-default;
    color: #2c3e50;
    background: #f6f8f9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include base-scrollbar;

    * {
      box-sizing: border-box;
      @include base-scrollbar;
    }

    /*a标签 */
    a {
      color: $base-color-blue;
      text-decoration: none;
    }

    /*图片 */
    img {
      object-fit: cover;

      &[src=''],
      &:not([src]) {
        opacity: 0;
      }
    }

    /*图标 */
    svg,
    i {
      &:hover {
        opacity: 0.9;
      }
    }

    /*a-button按钮 */
    span + span,
    a + a,
    span + a {
      .a-button {
        margin-left: 10px;
      }
    }

    /*a-scrollbar滚动条 */
    .a-scrollbar {
      height: 100%;
    }

    /*a-form表单 */
    .a-form--laba-top {
      .a-form-item__label {
        padding: 0;
      }
    }

    /*  a-badge */
    .a-badge__content {
      border: 0;
    }

    /* a-tag */
    .a-tag + .a-tag {
      margin-left: 10px;
    }

    /* a-alert */
    .a-alert {
      margin: 0 0 $base-padding 0;
      &--success.is-light {
        color: rgba(0, 0, 0, 0.85);
        background-color: #f6ffed;
        border: 1px solid #b7eb8f;
      }
    }

    /* markdown编辑器*/
    .editor-toolbar {
      .no-mobile,
      .fa-question-circle {
        display: none;
      }
    }

    /* a-divider间隔线 */
    .a-divider--horizontal {
      margin: 8px 0 $base-padding + 8px 0;

      .a-divider__text {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    /* a-image-viewer表格大图展示*/
    .a-image-viewer {
      &__close {
        .a-icon-circle-close {
          color: $base-color-white;
        }
      }
    }

    .vue-admin-beautiful-wrapper {
      .app-main-container {
        @include base-scrollbar;

        > [class*='-container'] {
          padding: $base-padding;
          background: $base-color-white;
        }
      }
    }

    /* nprogress进度条 */
    #nprogress {
      position: fixed;
      z-index: $base-z-index;

      .bar {
        background: $base-color-blue !important;
      }

      .peg {
        box-shadow: 0 0 10px $base-color-blue, 0 0 5px $base-color-blue !important;
      }
    }

    /* a-table表格 */
    .a-table {
      .a-table__body-wrapper {
        @include base-scrollbar;
      }

      th {
        background: #f5f7fa;
      }

      td,
      th {
        position: relative;
        box-sizing: border-box;
        padding: 7.5px 0;

        .cell {
          font-size: $base-font-size-default;
          font-weight: normal;
          color: #606266;

          .a-image {
            width: 50px;
            height: 50px;
            border-radius: $base-border-radius;
          }
        }
      }
    }

    /* a-pagination分页 */
    .a-pagination {
      padding: 2px 5px;
      margin: $base-padding 0 0 0;
      font-weight: normal;
      color: $base-color-black;
      text-align: center;
    }

    /* a-menu菜单开始 */
    .a-menu {
      user-select: none;
    }

    /* a-dialog 弹窗 */
    @media (max-width: 576px) {
      .a-dialog {
        width: auto !important;
        margin: 10px;
      }
    }

    .a-dialog,
    .a-message-box {
      &__footer {
        padding: $base-padding;
        text-align: right;
      }

      &__content {
        padding: $base-padding;
      }
    }

    /* a-card卡片 */
    .a-card {
      margin-bottom: $base-padding;

      &__body {
        padding: $base-padding;
      }
    }
  }
}
